.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 4px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 0px 13px 5px rgb(187, 164, 164);
   -moz-box-shadow: 0px 13px 5px rgb(187, 164, 164);
   box-shadow: 0px 13px 5px rgb(187, 164, 164);
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
   border-radius:50%;
    border: solid 2px rgb(239, 235, 235);
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform:capitalize;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding:15%;
   background: rgba(0, 0, 0, 0.58);
   color: #fff;
   text-transform:capitalize;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   height:100%;
   border-radius:50%;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}